@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Training Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input value="@ViewBag.Id" hidden />
<section id="hero">
    <section id="home" class="home">
        <div class="container" style="padding-bottom:15px;">
            <p style="margin-bottom: -3px;font-family:Barlow;color:darkgray;">Industrial Services</p>
            <div id="load-header-pelatihan">
            </div>
        </div>
        <div class="container-lg">
            <div class="row g-12">
                <div class="col-sm-6 text-white">
                    <div class="post-body">
                        <h5 style="color: black; font-family:Barlow; font-weight: 600; font-size: 20px; margin-bottom: 20px;">
                            Deskripsi Pelatihan
                        </h5>
                        @Html.Raw("<div id='load-detail-pelatihan' style='text-align:justify;color:black;font-family:Barlow;'>")
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="card" style="background-color: #3498db;">
                    <div class="card-body">
                        <h5 class="card-title text-white" style="padding:20px; font-family:Barlow; font-size:20px;">Training Photos</h5>
                        <div class="container-sm" id="load-photo">

                            <!-- Tambahkan card lainnya di sini sesuai kebutuhan -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12">
                <h5 class="card-title text-black" style="padding:20px; font-family:Barlow; font-size:20px;">Testimonials</h5>
                <div class="container mt-5 mb-5">
                    <div class="row g-2" id="testimonial-container">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" style="color:#ffffff;">

    <div class="footer-top" style="background:#01529C;">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Address</h3>
                    <a href="https://maps.app.goo.gl/xG12byCagHAPUSuY9" target="_blank">
                        <p style="color:white;">
                            Cikarang Campus <br>
                            Jl. Gaharu Blok F3 Delta Silicon II Cibatu,<br>
                            South Cikarang, Bekasi Regency, <br>
                            West Java 17530 <br><br>

                        </p>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Contacts</h3>
                    <p style="color:white;">
                        <strong>Phone:</strong><a href="https://wa.me/6285156842086" style="color: white; text-decoration: underline;" target="_blank"> +62 888 7765 9821</a><br>
                        <strong>Email:</strong> dpp@@astra.polytechnic.ac.id<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Information</h3>
                    <div class="row">
                        <a>
                            <p style="color:white;">
                                About Industrial Services <br />
                                Astra Polytechnic Main Website <br />
                                Contact
                            </p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 d-flex align-items-stretch text-center">
                    <span style="position: relative; left: 50%; transform: translateX(-50%);color:darkgray;">Copyright © 2024 Department Training & Production Astra Polytechnic</span>
                </div>
            </div>
        </div>

    </div>
</footer><!-- End Footer -->


<script>
    loadPelatihanTechnical(); // Memuat data pelatihan saat halaman dimuat
    function loadPelatihanTechnical() {
        var id = @ViewBag.Id;
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetPelatihanNonTechnical?id=" + id;
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var pelatihanList = data;

                pelatihanList.forEach(function (pelatihan) {
                    $.ajax({
                        url: hostname + "GetTipePelatihan?id=" + pelatihan.id_tipe_pelatihan,
                        method: "GET",
                        contentType: "application/json",
                        success: function (tipePelatihanDetails) {
                            var tipe_pelatihan = tipePelatihanDetails.tipe_pelatihan;

                            // Simpan deskripsi pelatihan dalam variabel JavaScript
                            var deskripsiPelatihan = '<p style="text-align:justify;">' + pelatihan.deskripsi_pelatihan + '</p>';

                            var headerRow = '<h5 style="color: rgba(0,0,0,0.4); font-family:Barlow; font-weight: 300; font-size: 24px; margin-bottom: 0px;">Training - Non-Technical - ' + tipe_pelatihan + '</h5>' +
                                '<h6 style="color: black; font-family:Barlow; font-weight: 600; font-size: 36px; margin-bottom: 20px;">' + pelatihan.nama_pelatihan + '</h6>';

                            $('#load-header-pelatihan').append(headerRow);
                            $('#load-detail-pelatihan').append(deskripsiPelatihan);
                        },
                        error: function (xhr, status, error) {
                            console.error("Error:", error);
                        }
                    });
                });
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }

    loadPhotoPelatihan();

    function loadPhotoPelatihan() {
        var id = @ViewBag.Id;
        var hostname = "https://localhost:7033/";
        var url = hostname + "GetPhotoPelatihan?id=" + id;
        var method = "GET";

        $.ajax({
            url: url,
            method: method,
            contentType: "application/json",
            success: function (data) {
                var pelatihanList = data;

                pelatihanList.forEach(function (pelatihan) {
                    // Assuming you don't need tipe_pelatihan here, as it's not defined in your code
                    var headerRow = '<div class="row justify-content-center">' +
                        '<img class="shadow-light-lg img-fluid m-1" src="/assets/img/' + pelatihan.path_foto_pelatihan + '" style="width: 250px; height: auto;" />' +
                        '</div>';

                    $('#load-photo').append(headerRow);
                });
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }
    loadTestimonials();
    function loadTestimonials() {
        var testimonialContainer = $("#testimonial-container");

        // Clear existing testimonials
        testimonialContainer.empty();
        var hostname = "https://localhost:7033/";
        var urlTestimonies = hostname + "GetTestimonyByPelatihan?id=" + @ViewBag.Id;

        // Fetch testimonials from API
        $.ajax({
            url: urlTestimonies,
            method: "GET",
            success: function (data) {
                // Check if 'data' is defined and has a property named 'data'
                var testimonials = data.data;
                if (testimonials.length > 0) {

                    testimonials.forEach(function (testimonial) {
                        // Fetch nama_pelatihan based on id_pelatihan
                        var urlPelatihan = hostname + "GetPelatihan?id=" + testimonial.id_pelatihan;

                        $.ajax({
                            url: urlPelatihan,
                            method: "GET",
                            success: function (pelatihanData) {
                                var namaPelatihan = pelatihanData.nama_pelatihan;

                                var testimonialHtml =
                                    '<div class="col col-md-6" style="font-family:Barlow;">' +
                                    '<div class="card" style="border-radius: 15px; background-color: rgba(0, 0, 0, 0.2); border:none;">' +
                                    '<div class="card-body p-4">' +
                                    '<div class="d-flex text-black">' +
                                    '<div class="flex-shrink-0">' +
                                    '<img src="/assets/img/' + testimonial.foto_peserta + '" alt="Generic placeholder image" class="img-fluid" style="width: 75px; border-radius: 10px;">' +
                                    '</div>' +
                                    '<div class="flex-grow-1 ms-3">' +
                                    '<h5 class="mb-1" style="font-family:Barlow;">' + testimonial.nama_peserta + '</h5>' +
                                    '<p class="mb-2" style="color: gray;font-family:Barlow;">' + testimonial.asal_instansi + '</p>' +
                                    '<p class="mb-1" style="font-family:Barlow;color:rgba(0,0,0,1);font-size:16px;">' + testimonial.testimoni_peserta + '</p>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>';

                                testimonialContainer.append(testimonialHtml);
                            },
                            error: function (xhr, status, error) {
                                console.error("Error:", error);
                            }
                        });
                    });

                } else {
                    // No testimonials found, append a card with label
                    var noTestimonialHtml = '<div class="row d-flex justify-center-content align-items-center">' +
                        '<div class="col-4 text-center">' +
                        '<div class="card" style="border-radius: 15px; background-color: rgba(255, 255, 255, 0.5); border:none;">' +
                        '<div class="card-body p-4">' +
                        '<p class="mb-2 pb-1 text-center" style="color: gray;">No testimonials available.</p>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    testimonialContainer.append(noTestimonialHtml);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });
    }

</script>